---
# Default NGINX config (always present)
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "generic-app.fullname" . }}-nginx-config
  labels:
    {{- include "generic-app.labels" . | nindent 4 }}
data:
  nginx.conf: |
    # PID file location (writable by non-root user)
    pid /var/cache/nginx/nginx.pid;

    worker_processes auto;

    events {
        worker_connections 1024;
    }

    http {
        include /etc/nginx/mime.types;
        default_type application/octet-stream;

        client_body_temp_path /var/cache/nginx/client_temp;
        proxy_temp_path /var/cache/nginx/proxy_temp;
        fastcgi_temp_path /var/cache/nginx/fastcgi_temp;
        uwsgi_temp_path /var/cache/nginx/uwsgi_temp;
        scgi_temp_path /var/cache/nginx/scgi_temp;

        access_log /dev/stdout;
        error_log /dev/stderr info;

        sendfile on;
        keepalive_timeout 65;

        include /etc/nginx/conf.d/*.conf;
    }

  drpc-nginx.conf: |
    map $http_upgrade $connection_upgrade {
        default upgrade;
        ''      close;
    }

    server {
        listen 8080;

        location /queries/ {
            proxy_set_header X-Nodecore-Token $arg_token;

            set $clean_args "";
            if ($args ~* "token=[^&]+&?(.*)") {
                set $clean_args $1;
            }
            if ($clean_args = "") {
                proxy_pass http://127.0.0.1:9090$uri;
            }
            if ($clean_args != "") {
                proxy_pass http://127.0.0.1:9090$uri?$clean_args;
            }

            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;

            proxy_http_version 1.1;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection $connection_upgrade;

            proxy_pass_request_body on;
            proxy_pass_request_headers on;
        }
    }
