{{- range $projectName, $projectConfig := .Values.projects }}
{{- $ctx := dict "root" $ "projectName" $projectName }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "drpc-nodecore.projectName" $ctx }}-config
  labels:
    {{- include "drpc-nodecore.projectLabels" $ctx | nindent 4 }}
data:
  nodecore.yaml: |
    server:
      listenV4: true
      httpHostV4: "0.0.0.0"
      httpPort: 9090
    metrics:
      enabled: true
      listenV4: true
      hostV4: "0.0.0.0"
      port: 9093
    request-strategy:
      type: token
      token:
        value: {{ printf "${%s}" ($projectConfig.authTokenEnvVar | default "NODECORE_AUTH_TOKEN") | quote }}
    upstream-config:
      {{- with $projectConfig.nodecoreConfig }}
      {{- with .integrity }}
      integrity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .failsafe }}
      failsafe:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with (index . "chain-defaults") }}
      chain-defaults:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .scoring }}
      scoring:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- end }}
      upstreams:
        {{- toYaml $projectConfig.upstreams | nindent 8 }}
{{- end }}
