{{- range $projectName, $projectConfig := .Values.projects }}
{{- $ctx := dict "root" $ "projectName" $projectName }}
{{- $defaults := $.Values.defaults }}
{{- $deployment := $projectConfig.deployment | default $defaults.deployment }}
{{- $autoscaling := $deployment.autoscaling | default $defaults.deployment.autoscaling }}
{{- if $autoscaling.enabled }}
---
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: {{ include "drpc-nodecore.projectName" $ctx }}
  labels:
    {{- include "drpc-nodecore.projectLabels" $ctx | nindent 4 }}
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: {{ include "drpc-nodecore.projectName" $ctx }}
  minReplicas: {{ $autoscaling.minReplicas }}
  maxReplicas: {{ $autoscaling.maxReplicas }}
  metrics:
    {{- if $autoscaling.targetCPUUtilizationPercentage }}
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: {{ $autoscaling.targetCPUUtilizationPercentage }}
    {{- end }}
    {{- if $autoscaling.targetMemoryUtilizationPercentage }}
    - type: Resource
      resource:
        name: memory
        target:
          type: Utilization
          averageUtilization: {{ $autoscaling.targetMemoryUtilizationPercentage }}
    {{- end }}
{{- end }}
{{- end }}
