{{- if and (or .Values.execution.metrics.enabled .Values.beacon.metrics.enabled)
           (or .Values.execution.metrics.prometheusRule.enabled .Values.beacon.metrics.prometheusRule.enabled) }}
{{- $upAlertExpr := printf "up{job='%s', namespace='%s'} == 0" (include "common.names.fullname" .) .Release.Namespace }}
{{- $isNotUpdatingAlertExpr := printf "and on() (kube_statefulset_status_current_revision{statefulset='%s', namespace='%s'} == kube_statefulset_status_update_revision{statefulset='%s', namespace='%s'})" (include "common.names.fullname" .) .Release.Namespace (include "common.names.fullname" .) .Release.Namespace }}
apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: {{ include "common.names.fullname" . }}-execution
  {{- if .Values.metrics.prometheusRule.namespace }}
  namespace: {{ .Values.metrics.prometheusRule.namespace }}
  {{- else }}
  namespace: {{ .Release.Namespace | quote }}
  {{- end }}
  labels:
    {{- include "common.labels.standard" . | nindent 4 }}
    {{- if .Values.metrics.prometheusRule.additionalLabels }}
    {{- toYaml .Values.metrics.prometheusRule.additionalLabels | nindent 4 }}
    {{- end }}
spec:
  groups:
  {{- with .Values.metrics.prometheusRule.rules }}
    - name: {{ include "common.names.fullname" $ }}
      rules: {{- tpl (toYaml .) $ | nindent 8 }}
  {{- end }}
  {{- if .Values.metrics.prometheusRule.default }}
    - name: {{ include "common.names.fullname" $ }}-default
      rules:
        - alert: ExecutionNodeDown
          expr: |
            {{ $upAlertExpr }}
            {{ $isNotUpdatingAlertExpr }}
          for: 5m
          labels:
            severity: critical
          annotations:
            summary: Exectution Node {{ printf "{{ $labels.instance }}" }} down
            description: Execution Node {{ printf "{{ $labels.instance }}" }} is down
        - alert: ExecutionNodeDown
          expr: {{ $upAlertExpr }}
          for: 10m
          labels:
            severity: critical
          annotations:
            summary: Exectution Node {{ printf "{{ $labels.instance }}" }} down
            description: Execution Node {{ printf "{{ $labels.instance }}" }} is down
  {{- end }}
---
apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: {{ include "common.names.fullname" . }}-beacon
  {{- if .Values.metrics.prometheusRule.namespace }}
  namespace: {{ .Values.metrics.prometheusRule.namespace }}
  {{- else }}
  namespace: {{ .Release.Namespace | quote }}
  {{- end }}
  labels:
    {{- include "common.labels.standard" . | nindent 4 }}
    {{- if .Values.metrics.prometheusRule.additionalLabels }}
    {{- toYaml .Values.metrics.prometheusRule.additionalLabels | nindent 4 }}
    {{- end }}
spec:
  groups:
  {{- with .Values.metrics.prometheusRule.rules }}
    - name: {{ include "common.names.fullname" $ }}
      rules: {{- tpl (toYaml .) $ | nindent 8 }}
  {{- end }}
  {{- if .Values.metrics.prometheusRule.default }}
  {{- if eq .Values.beacon.client "lighthouse" }}
    - name: {{ include "common.names.fullname" $ }}-default
      rules:
        - alert: LighthouseBeaconNodeDown
          expr: |
            {{ $upAlertExpr }}
            {{ $isNotUpdatingAlertExpr }}
          for: 1m
          labels:
            severity: critical
          annotations:
            summary: Lighthouse beacon node is down
            description: Check {{ printf "{{ $labels.pod }}" }} beacon node in namespace {{ printf "{{ $labels.namespace }}" }}
        - alert: LighthouseBeaconNodeDown
          expr: {{ $upAlertExpr }}
          for: 10m
          labels:
            severity: critical
          annotations:
            summary: Lighthouse beacon node is down
            description: Check {{ printf "{{ $labels.pod }}" }} beacon node in namespace {{ printf "{{ $labels.namespace }}" }}
        - alert: LighthouseBeaconNodeIsNotConnectedToEth1Node
          expr: sync_eth1_connected{job='{{ include "common.names.fullname" . }}', namespace='{{ .Release.Namespace }}'} == 0
          for: 1m
          labels:
            severity: critical
          annotations:
            summary: Lighthouse beacon node is not connected to eth1 node
            description: Check {{ printf "{{ $labels.pod }}" }} beacon node in namespace {{ printf "{{ $labels.namespace }}" }}
        - alert: LighthouseBeaconNodeIsOutOfSync
          expr: sync_eth2_synced{job='{{ include "common.names.fullname" . }}', namespace='{{ .Release.Namespace }}'} == 0
          for: 3m
          labels:
            severity: critical
          annotations:
            summary: Lighthouse beacon node is out of sync
            description: Check {{ printf "{{ $labels.pod }}" }} beacon node in namespace {{ printf "{{ $labels.namespace }}" }}
  {{- else if eq .Values.beacon.client "prysm" }}
    - name: {{ include "common.names.fullname" $ }}-default
      rules:
        - alert: PrysmBeaconNodeDown
          expr: |
            {{ $upAlertExpr }}
            {{ $isNotUpdatingAlertExpr }}
          for: 1m
          labels:
            severity: critical
          annotations:
            summary: Prysm beacon node is down
            description: Check {{ printf "{{ $labels.pod }}" }} beacon node in namespace {{ printf "{{ $labels.namespace }}" }}
        - alert: PrysmBeaconNodeDown
          expr: {{ $upAlertExpr }}
          for: 10m
          labels:
            severity: critical
          annotations:
            summary: Prysm beacon node is down
            description: Check {{ printf "{{ $labels.pod }}" }} beacon node in namespace {{ printf "{{ $labels.namespace }}" }}
        - alert: Prysm50SlotsBehind
          expr: beacon_clock_time_slot{job='{{ include "common.names.fullname" . }}'}-beacon_head_slot{job='{{ include "common.names.fullname" . }}', namespace='{{ .Release.Namespace }}'} > 50
          for: 2m
          labels:
            severity: critical
          annotations:
            summary: Prysm beacon node is out of sync
            description: Check {{ printf  "{{ $labels.pod }}" }} beacon node in namespace {{ printf "{{ $labels.namespace }}" }}
        - alert: PrysmParticipationRateLessThen66Percent
          expr: beacon_prev_epoch_target_gwei{job='{{ include "common.names.fullname" . }}'}/beacon_prev_epoch_active_gwei{job='{{ include "common.names.fullname" . }}', namespace='{{ .Release.Namespace }}'}*100 < 66
          for: 5m
          labels:
            severity: critical
          annotations:
            summary: Prysm beacon node participation rate less then 66%
            description: Check {{ printf "{{ $labels.pod }}" }} beacon node in namespace {{ printf "{{ $labels.namespace }}" }}
        - alert: PrysmBeaconNodeRestarted
          expr: (time()-process_start_time_seconds{job='{{ include "common.names.fullname" . }}', namespace='{{ .Release.Namespace }}'})/3600 < 0.1
          for: 1m
          labels:
            severity: warning
          annotations:
            summary: Prysm beacon node was restarted
            description: Check {{ printf "{{ $labels.pod }}" }} beacon node in namespace {{ printf "{{ $labels.namespace }}" }}
  {{- else if eq .Values.beacon.client "teku" }}
    - name: {{ include "common.names.fullname" $ }}-default
      rules:
        - alert: TekuBeaconNodeDown
          expr: |
            {{ $upAlertExpr }}
            {{ $isNotUpdatingAlertExpr }}
          for: 1m
          labels:
            severity: critical
          annotations:
            summary: Teku beacon node is down
            description: Check {{ printf "{{ $labels.pod }}" }} beacon node in namespace {{ printf "{{ $labels.namespace }}" }}
        - alert: TekuBeaconNodeDown
          expr: {{ $upAlertExpr }}
          for: 10m
          labels:
            severity: critical
          annotations:
            summary: Teku beacon node is down
            description: Check {{ printf "{{ $labels.pod }}" }} beacon node in namespace {{ printf "{{ $labels.namespace }}" }}
        - alert: Teku50SlotsBehind
          expr: beacon_slot{job='{{ include "common.names.fullname" . }}'}-beacon_head_slot{job='{{ include "common.names.fullname" . }}', namespace='{{ .Release.Namespace }}'} > 50
          for: 2m
          labels:
            severity: critical
          annotations:
            summary: Teku beacon node is out of sync
            description: Check {{ printf  "{{ $labels.pod }}" }} beacon node in namespace {{ printf "{{ $labels.namespace }}" }}
  {{- else if  eq .Values.beacon.client "nimbus" }}
    - name: {{ include "common.names.fullname" $ }}-default
      rules:
        - alert: NimbusBeaconNodeDown
          expr: |
            {{ $upAlertExpr }}
            {{ $isNotUpdatingAlertExpr }}
          for: 1m
          labels:
            severity: critical
          annotations:
            summary: Nimbus beacon node is down
            description: Check {{ printf "{{ $labels.pod }}" }} beacon node in namespace {{ printf "{{ $labels.namespace }}" }}
        - alert: NimbusBeaconNodeDown
          expr: {{ $upAlertExpr }}
          for: 10m
          labels:
            severity: critical
          annotations:
            summary: Nimbus beacon node is down
            description: Check {{ printf "{{ $labels.pod }}" }} beacon node in namespace {{ printf "{{ $labels.namespace }}" }}
  {{- else if  eq .Values.beacon.client "lodestar" }}
    - name: {{ include "common.names.fullname" $ }}-default
      rules:
        - alert: LodestarBeaconNodeDown
          expr: |
            {{ $upAlertExpr }}
            {{ $isNotUpdatingAlertExpr }}
          for: 1m
          labels:
            severity: critical
          annotations:
            summary: Lodestar beacon node is down
            description: Check {{ printf "{{ $labels.pod }}" }} beacon node in namespace {{ printf "{{ $labels.namespace }}" }}
        - alert: LodestarBeaconNodeDown
          expr: {{ $upAlertExpr }}
          for: 10m
          labels:
            severity: critical
          annotations:
            summary: Lodestar beacon node is down
            description: Check {{ printf "{{ $labels.pod }}" }} beacon node in namespace {{ printf "{{ $labels.namespace }}" }}
  {{- else if  eq .Values.beacon.client "taiko" }}
    - name: {{ include "common.names.fullname" $ }}-default
      rules:
        - alert: taikoBeaconNodeDown
          expr: |
            {{ $upAlertExpr }}
            {{ $isNotUpdatingAlertExpr }}
          for: 1m
          labels:
            severity: critical
          annotations:
            summary: taiko beacon node is down
            description: Check {{ printf "{{ $labels.pod }}" }} beacon node in namespace {{ printf "{{ $labels.namespace }}" }}
        - alert: taikoBeaconNodeDown
          expr: {{ $upAlertExpr }}
          for: 10m
          labels:
            severity: critical
          annotations:
            summary: taiko beacon node is down
            description: Check {{ printf "{{ $labels.pod }}" }} beacon node in namespace {{ printf "{{ $labels.namespace }}" }}
  {{- end }}
  {{- end }}
{{- end }}
