{{- range $tcpRouteName, $tcpRoute := .Values.tcpRoutes }}
apiVersion: gateway.networking.k8s.io/v1alpha2
kind: TCPRoute
metadata:
  name: {{ include "common.names.fullname" $ }}-{{ $tcpRouteName }}
  {{- $labels := (include "common.labels.standard" $) | fromYaml }}
  {{- $labels = merge $tcpRoute.labels $labels }}
  labels:
    {{- toYaml $labels | nindent 4 }}
  {{- with $tcpRoute.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  {{- range $parent := $tcpRoute.parentRefs }}
  parentRefs:
  - group: {{ $parent.group | default "gateway.networking.k8s.io" }}
    kind: {{ $parent.kind | default "Gateway" }}
    name: {{ $parent.name }}
    namespace: {{ $parent.namespace }}
    sectionName: {{ $parent.sectionName  }}
  {{- end }}

  rules:
  - backendRefs:
    {{- range $ref := $tcpRoute.backendRefs }}
      - group: {{ $ref.group | default "" }}
        kind: {{ $ref.kind | default "Service" }}
        name: {{ include "common.names.fullname" $ }}
        port: {{ $ref.port }}
        weight: {{ $ref.weight | default 1 }}
    {{- end }}
{{- end }}
