{{- if not .Values.config.beaconNodeEndpoints }}
{{- fail ".Values.config.beaconNodeEndpoints is required" }}
{{- end }}

{{- if not .Values.secrets.charon }}
{{- fail ".Values.secrets.charon is required" }}
{{- end }}

{{- if and .Values.centralMonitoring.enabled (not .Values.centralMonitoring.secretName) }}
{{- fail ".Values.centralMonitoring.secretName is required when centralMonitoring is enabled" }}
{{- end }}
