name: Helm Checks

on: pull_request

jobs:
  run-pre-commit:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Install pre-commit binaries
        run: |
          pip install pre-commit

      - name: Set up Helm
        uses: azure/setup-helm@v4.3.1

      - name: Update Helm Dependencies
        run: |
          for dir in charts/*/; do
            if [ -f "${dir}Chart.yaml" ]; then
              helm dependency update "$dir"
            fi
          done

      - name: Run pre-commit
        run: |
          make install-pre-commit
          make pre-commit

  chart-testing:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@v4.3.1

      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          check-latest: true

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.7.0

      - name: Run chart-testing (list-changed)
        id: list-changed
        run: |
            changed=$(ct list-changed --target-branch ${{ github.event.repository.default_branch }})
            if [[ -n "$changed" ]]; then
            echo "changed=true" >> "$GITHUB_OUTPUT"
            fi

      - name: Helm Dependencies
        if: steps.list-changed.outputs.changed == 'true'
        run: |
          for dir in charts/*/; do
            if [ -f "${dir}Chart.yaml" ]; then
              helm dependency update "$dir"
            fi
          done

      - name: Run chart-testing (lint)
        if: steps.list-changed.outputs.changed == 'true'
        run: ct lint --config ct.yaml

  helm-unittest:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Changed files
        id: changed-files
        uses: tj-actions/changed-files@v47
        with:
          files: "charts/**"
          dir_names: "true"
          dir_names_max_depth: "2"

      - name: Determine changed charts
        id: changed-charts
        # language="shell script"
        run: |
          changedCharts=""
          for chart in ${{ steps.changed-files.outputs.all_changed_and_modified_files }}; do
            if [ -f "$chart/Chart.yaml" ] && [ -d "$chart/tests" ]; then
              changedCharts="$changedCharts $chart"
            else
              echo "The $chart folder does not contain a Chart.yaml file or tests folder, skipping"
            fi
          done
          echo "changed_charts=$changedCharts" >> "$GITHUB_OUTPUT"

      - name: Helm Unit Tests
        uses: d3adb5/helm-unittest-action@v2.5.0
        with:
          install-mode: "if-not-present"
          charts: "${{ steps.changed-charts.outputs.changed_charts }}"
